
.Menu li {
    display: inline-block;
    margin: 10px;

}
.Menu{
    font-style: italic;
    color: white;
    position: sticky;
    background-color: black;
    padding-top: 20px;
    height: 400px;
}
A{
    color: white;
    text-decoration: none;
}
.MenuPosition {
    padding-left: 60%;
}
.Display
{
    display: flex;
}
header{
    font-size: 40px;
    text-align: center;
}
.WhiteMem{
    text-align: center;
    display: flex;
    font-style: italic;
    color: black;
    position: sticky;
    background-color: white;
    padding-top: 20px;
    height: 400px;
}
.MemLogo{
}
